@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --font-for-text: "Oswald", serif;
    --color-for-text: #fff;
    --color-for-circle-active: #464444;
    --color-for-text-dark: rgb(32, 32, 32);
    --copyright-color: #141414;
    --color-for-arrow: rgb(217, 222, 223);
    --copyright-color-text: #d4d4d4;
    --background-color-yellow: #fda70f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 700px;
}

main {
    width: 100%;
    height: 100%;
}

header {
    background: -webkit-linear-gradient(180deg, #404040, #74716d, #141414);
    background: linear-gradient(180deg, #404040, #74716d, #141414);
    padding: 15px 50px;
}

.all-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 70px;
}

.phone-header {
    color: var(--color-for-text);
    text-decoration: none;
    cursor: pointer;
}

.all-elements__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-for-text);
    font-weight: bold;
}

.all-elements__menu {
    display: flex;
    gap: 50px;
}

.h2-logo-descripnion {
    font-size: 16px;
    color: var(--background-color-yellow);
}

.link {
    color: var(--color-for-text);
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: var(--background-color-yellow);
}

.link-portfolio {
    padding: 0 50px;
}

.icons {
    width: 30px;
    height: 30px;
}

.icons-link {
    text-decoration: none;
}

.all-elements__icons {
    display: flex;
    gap: 10px;
}

.all-elements__number-phone {
    text-align: center;
}

.phone-header {
    color: var(--color-for-text);
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.phone-header:hover {
    color: var(--background-color-yellow);
}

.time-contact {
    color: var(--color-for-text);
    font-size: 13px;
}

/*      Header      */

.hpoto-and-text {
    display: flex;
    gap: 20px;
    padding: 20px 50px 0 50px;
}

.main-photo-port-one {
    width: 550px;
    padding: 25px;
}

.portfolio-one {
    padding: 20px 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.real-works {
    font-size: 22px;
    padding-bottom: 15px;
    text-align: center;
    font-family: var(--font-for-text);
    color: var(--background-color-yellow);
}

.title-portfplio-one {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

.text-one {
    font-size: 17px;
}

.photo-1 {
    width: 250px;
    height: 300px;
}

/* //////////////// portfolio-gallery////////////////////*/

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    padding: 50px;
}

.slider-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 500px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    padding: 0 50px;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.arrow {
    width: 20px;
    height: 20px;
    padding: 25px;
    background-color: var(--color-for-arrow);
    border-radius: 50%;
    cursor: pointer;
}

.block {
    display: block;
}

.pagination-circle {
    width: 12px;
    height: 12px;
    border: 2px solid var(--color-for-text-dark);
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: var(--color-for-circle-active);
}

.circle-area {
    display: flex;
    column-gap: 18px;
}

.img-dzen {
    width: 40px;
    height: 40px;
}

/* ///////////////////////// footer //////////////////////*/

footer {
    background: -webkit-linear-gradient(360deg, #404040, #74716d, #141414);
    background: linear-gradient(360deg, #404040, #74716d, #141414);
    padding: 20px;
    height: 80px;
}

.logo-and-contact {
    display: flex;
    justify-content: space-between;
}

.contact-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-for-text);
}

.all-contacts {
    font-size: 18px;
    color: var(--color-for-text);
}

.copyright {
    height: 30px;
    background-color: var(--copyright-color);
    color: var(--copyright-color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.text-networks {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-for-text);
    margin-bottom: 15px;
    text-align: center;
}

.all-networks {
    display: flex;
    gap: 20px;
}

.all-icons {
    width: 40px;
    height: 40px;
}

.mail-footer {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-for-text);
}

.phone-footer {
    color: var(--color-for-text);
    text-decoration: none;
    cursor: pointer;
}

/* ///////////////////////////// adattiv //////////////////////////// */

@media (max-width: 1050px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    .portfolio-one {
        padding: 20px 5px;
    }

    .photo-portfolio-one {
        display: flex;
        align-items: center;
    }

    .text-networks {
        font-size: 22px;
    }

    .contact-text {
        font-size: 20px;
    }

    .all-contacts {
        font-size: 20px;
    }

    .copyright {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    .hpoto-and-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .all-elements__menu {
        gap: 5px;
    }

    .main-photo-port-one {
        width: 800px;
        padding: 20px 50px;
    }

    .title-portfplio-one {
        font-size: 40px;
    }

    .all-text {
        font-size: 25px;
    }

    .real-works {
        font-size: 30px;
    }

    .portfolio-one {
        padding: 25px 45px 0;
    }

    .text-networks {
        font-size: 25px;
    }

    .contact-text {
        font-size: 20px;
    }

    .all-contacts {
        font-size: 20px;
    }

    .slide {
        width: 600px;
        height: 800px;
        padding: 0 15px;
    }

    .arrow {
        width: 30px;
        height: 30px;
        padding: 25px;
    }
}

@media (max-width: 853px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    header {
        padding: 15px;
    }
}

@media (max-width: 540px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    header {
        padding: 5px;
    }

    .logo {
        height: 40px;
    }

    .link {
        font-size: 13px;
    }

    .all-elements__icons {
        gap: 10pxpx;
    }

    .icons {
        width: 30px;
        height: 30px;
    }

    .time-contact {
        font-size: 12px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .h2-logo-descripnion {
        font-size: 10px;
        width: 70px;
    }

    .all-elements__menu {
        gap: 5px;
    }

    .phone-header {
        font-size: 15px;
    }

    .hpoto-and-text {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .main-photo-port-one {
        width: 540px;
        padding: 0;
    }

    .arrow {
        width: 20px;
        height: 20px;
        padding: 10px;
    }

    .slider-container {
        row-gap: 30px;
    }

    .title-portfplio-one {
        font-size: 30px;
    }

    .slide {
        width: 350px;
        height: 500px;
        padding: 0 15px;
    }

    .circle-area {
        column-gap: 10px;
    }

    .portfolio-one {
        margin-bottom: 0;
        font-size: 18px;
    }

    .logo-and-contact {
        gap: 15px;
    }

    .all-networks {
        gap: 10px;
    }

    .contact-text {
        font-size: 13px;
    }

    .all-contacts {
        font-size: 13px;
    }

    .all-icons {
        width: 20px;
        height: 20px;
    }

    .img-dzen {
        width: 20px;
        height: 20px;
    }

    .text-networks {
        font-size: 15px;
    }

    .logo-footer {
        display: flex;
        align-items: center;
    }

    .our-social-networks {
        margin: auto 0;
    }

    .portfolio-one {
        padding: 20px 25px;
    }

    .all-text {
        font-size: 20px;
    }

    footer {
        padding: 5px;
        height: 60px;
    }

    .copyright {
        font-size: 10px;
    }
}

@media (max-width: 470px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    header {
        padding: 5px;
    }

    .logo {
        height: 30px;
    }

    .link {
        font-size: 10px;
    }

    .all-elements__icons {
        gap: 2px;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    .time-contact {
        font-size: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .h2-logo-descripnion {
        font-size: 7px;
        width: 50px;
    }

    .all-elements__menu {
        gap: 5px;
    }

    .phone-header {
        font-size: 12px;
    }

    .hpoto-and-text {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .main-photo-port-one {
        width: 100%;
        padding: 0;
    }

    .arrow {
        width: 15px;
        height: 15px;
        padding: 10px;
    }

    .slider-container {
        row-gap: 30px;
    }

    .slide {
        width: 310px;
        height: 430px;
        padding: 0 5px;
    }

    .circle-area {
        column-gap: 8px;
    }

    .portfolio-one {
        margin-bottom: 0;
    }

    .logo-and-contact {
        gap: 15px;
    }

    .all-networks {
        gap: 10px;
    }

    .contact-text {
        font-size: 13px;
    }

    .all-contacts {
        font-size: 13px;
    }

    .all-icons {
        width: 20px;
        height: 20px;
    }

    .img-dzen {
        width: 20px;
        height: 20px;
    }

    .text-networks {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .title-portfplio-one {
        font-size: 25px;
        font-weight: bold;
    }

    .real-works {
        font-size: 20px;
    }

    .logo-footer {
        display: flex;
        align-items: center;
    }

    .our-social-networks {
        margin: auto 0;
    }

    .portfolio-one {
        padding: 20px 25px;
    }

    .all-text {
        font-size: 17px;
    }

    footer {
        padding: 5px;
    }

    .copyright {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    header {
        padding: 5px;
    }

    .logo {
        height: 30px;
    }

    .link {
        font-size: 10px;
    }

    .all-elements__icons {
        gap: 2px;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    .time-contact {
        font-size: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .h2-logo-descripnion {
        font-size: 7px;
        width: 50px;
    }

    .all-elements__menu {
        gap: 5px;
    }

    .phone-header {
        font-size: 12px;
    }

    .hpoto-and-text {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .main-photo-port-one {
        width: 100%;
        padding: 0;
    }

    .arrow {
        width: 15px;
        height: 15px;
        padding: 7px;
    }

    .slider-container {
        row-gap: 30px;
    }

    .slide {
        width: 280px;
        height: 400px;
        padding: 0 5px;
    }

    .circle-area {
        column-gap: 8px;
    }

    .portfolio-one {
        margin-bottom: 0;
    }

    .logo-and-contact {
        gap: 15px;
    }

    .all-networks {
        gap: 10px;
    }

    .contact-text {
        font-size: 13px;
    }

    .all-contacts {
        font-size: 11px;
    }

    .all-icons {
        width: 20px;
        height: 20px;
    }

    .img-dzen {
        width: 20px;
        height: 20px;
    }

    .title-portfplio-one {
        font-size: 25px;
        font-weight: bold;
    }

    .real-works {
        font-size: 20px;
    }

    .text-networks {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .logo-footer {
        display: flex;
        align-items: center;
    }

    .our-social-networks {
        margin: auto 0;
    }

    .portfolio-one {
        padding: 20px 25px;
    }

    .all-text {
        font-size: 15px;
    }

    footer {
        padding: 5px;
    }

    .copyright {
        font-size: 10px;
    }
}