@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --font-for-text: "Oswald", serif;
    --color-for-text: #fff;
    --background-color-yellow: #fda70f;
    --color-for-text-gray: #464444;
    --color-for-text-dark: rgb(32, 32, 32);
    --copyright-color: #141414;
    --color-for-input-error: rgb(250, 10, 10);
    --copyright-color-text: #d4d4d4;

}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
}

main {
    width: 100%;
    height: 100%;
}

header {
    background: -webkit-linear-gradient(180deg, #404040, #74716d, #141414);
    background: linear-gradient(180deg, #404040, #74716d, #141414);
    padding: 15px 50px;
}

.all-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.link {
    color: var(--color-for-text-dark);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: var(--color-for-text);
}

.link-portfolio {
    padding: 0 50px;
}

.icons {
    width: 30px;
    height: 30px;
}

.icons-link {
    text-decoration: none;
}

.all-elements__icons {
    display: flex;
    gap: 10px;
}

.all-elements__number-phone {
    color: var(--color-for-text);
    font-size: 19px;
    font-weight: bold;
}

/*  /////////////////////    Header    /////////////////////  */

.image-main-img {
    position: relative;
}

.main-img {
    width: 100%;
    filter: brightness(25%);
}

.text-description-image {
    position: absolute;
    top: 280px;
}

.text-description-image {
    margin-top: 20px;
}

.logo-description-image {
    position: absolute;
    top: 120px;
}

.description-image {
    padding: 0 50px;
}

.image-logo {
    width: 350px;
}

.text-img {
    color: var(--background-color-yellow);
    font-family: var(--font-for-text);
    font-size: 50px;
    letter-spacing: 1px;
}

.short-description {
    display: flex;
    gap: 200px;
    position: absolute;
    top: 520px;
}

.div-circle {
    width: 20px;
    height: 20px;
    background-color: var(--background-color-yellow);
    border-radius: 50%;
}

.all-text-short {
    color: var(--color-for-text);
    font-size: 20px;
    font-family: var(--font-for-text);
    letter-spacing: 0.8px;
}

.all-shorts {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* /////////////////////////////// about //////////////////////////// */

.about {
    display: flex;
    padding: 50px;
}

.about-description {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    padding: 33px 45px;
}

.about-h1 {
    color: var(--color-for-text-dark);
}

.abou-ttitle {
    color: var(--color-for-text-gray);
    font-size: 50px;
    font-weight: bold;
}

.description {
    font-size: 18px;
}

/* ////////////////// why teploprofi ///////////////////////*/

.why-teploprofi {
    display: flex;
    flex-flow: column;
    position: relative;
}

.blocks-why-teploprofi {
    display: flex;
    flex-flow: column;
    gap: 80px;
    position: absolute;
    top: 100px;
}

.titlte {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: var(--color-for-text);
}

.all-advantages {
    color: var(--color-for-text);
    font-size: 20px;
    width: 300px;
}

.all-titles {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--background-color-yellow);
    font-family: var(--font-for-text);
}

.all-names {
    display: flex;
    flex-flow: column;
    gap: 40px;
}

/* //////////////////////// our-direction //////////////////////////////////*/

.our-direction {
    padding: 50px;
}

.title-our-direction {
    text-align: center;
    margin-bottom: 50px;
    color: var(--color-for-text-gray);
    font-size: 23px;
}

.our-direction-text-img {
    display: flex;
    gap: 10px;
    text-align: center;
}

.container {
    border: 2px solid var(--color-for-text-gray);
    padding: 3px;
    border-radius: 15px;
}

.all-title-direction {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-for-text-dark);
}

.description-project {
    padding: 25px;
}

.all-project-imgs {
    width: 200px;
}

/* //////////////////////////////// portfolio //////////////////////////////*/

.text-on-img {
    position: absolute;
    top: 80px;
    transition: .5s;
    cursor: pointer;
}

.link-text-on-img {
    text-decoration: none;
}

.name-text {
    font-size: 35px;
    color: var(--color-for-text);
    font-weight: bold;
    margin: 0 0 20px 70px;
    text-align: center;
}

.text-image {
    font-size: 30px;
    color: var(--color-for-text);
    font-weight: bold;
    border: 2px solid var(--color-for-text);
    margin-left: 70px;
    padding: 5px 30px;
    border-radius: 10px;
}

.text-image:hover {
    color: var(--background-color-yellow);
    border: 2px solid var(--background-color-yellow);
}

.title-portfolio {
    margin-bottom: 50px;
}

.list {
    display: flex;
    gap: 150px;
    padding: 0 50px;
}

.our-work {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-for-text-gray);
}

.container {
    padding: 15px 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.imgs {
    width: 350px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.all-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
}

/* .imgs:hover .all-photo {
    transform: scale(1.3);
} */

.text-on-img:hover {
    transform: scale(1.3);
}

/* ///////////////////////// contact-FORM //////////////////////*/

.contact-us {
    padding: 50px;
}

.contact-form {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    font-family: var(--font-for-text);
}

.form-contact-with-us {
    width: 550px;
    height: 600px;
    background-color: var(--color-for-text-gray);
    border-radius: 15px;
}

.title-form {
    text-align: center;
    font-size: 35px;
    color: var(--color-for-text-gray);
}

.img-contact-form {
    width: 550px;
    height: 600px;
    border-radius: 15px;
}

.text-contact {
    text-align: center;
    padding: 50px 30px;
    font-size: 22px;
    color: var(--color-for-text);
    font-weight: bold;
}

input {
    width: 300px;
    height: 50px;
    margin-left: 25px;
    padding-left: 25px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

input[type=radio] {
    accent-color: var(--background-color-yellow);
    ;
}

.input-phone {
    margin-bottom: 60px;
}

.input-name {
    margin-bottom: 35px;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-button {
    text-align: center;
}

.button-send {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 27px;
    color: var(--color-for-text-gray);
    background-color: var(--background-color-yellow);
    cursor: pointer;
    font-family: var(--font-for-text);
}

:focus::placeholder {
    color: transparent;
}

.radio-input {
    margin: 0 25px 40px;
}

.all-method {
    width: 18px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}

label {
    font-size: 18px;
    padding: 0 5px;
    vertical-align: middle;
    color: var(--color-for-text);
}

.whatsapp-choice {
    margin: 10px 0;
}

input._error {
    box-shadow: 0 0 15px var(--color-for-input-error);
}

/* //////////////////////// our contacts ///////////////////////*/

.our-contacts {
    padding: 0 50px;
}

.contacts-title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-for-text-gray);
}

.all-images-contacts {
    text-align: center;
}

.contacts-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.all-icons-contacts {
    width: 75px;
    height: 75px;
}

.all-title-contacts {
    padding: 25px;
    font-size: 21px;
    font-weight: bold;
    color: var(--color-for-text-dark);
}

.all-links-icon {
    text-decoration: none;
    color: var(--color-for-text-dark);

}

.our-social-networks {
    padding: 50px;
}

.all-networks {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.text-networks {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-for-text-gray);
    margin-bottom: 15px;
    text-align: center;
    padding: 25px;
}

.all-icons {
    width: 60px;
    height: 60px;
}

/* //////////////////////// footer ////////////////////////////*/

footer {
    background: -webkit-linear-gradient(360deg, #404040, #74716d, #141414);
    background: linear-gradient(360deg, #404040, #74716d, #141414);
    padding: 20px 50px;
    height: 80px;
}

.logo-and-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-for-footer {
    height: 70px;
}

.contact-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-for-text);
}

.all-contacts {
    font-size: 18px;
    color: var(--color-for-text);
}

.copyright {
    height: 30px;
    background-color: var(--copyright-color);
    color: var(--copyright-color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}


/* ////////////////////////// adaptiv ////////////////////////////////// */
@media (max-width: 1050px) {
    header {
        padding: 15px 5px;
    }

    .link-portfolio {
        padding: 0 15px;
    }

    .about-description {
        gap: 10px;
        padding: 15px 20px;
    }

    .abou-ttitle {
        font-size: 40px;
    }

    h1 {
        font-size: 25px;
    }

    .description {
        font-size: 16px;
    }

    .blocks-why-teploprofi {
        top: 30px;
        gap: 45px;
    }

    .list {
        gap: 40px;
        padding: 0 10px;
    }

    .our-direction {
        padding: 50px 5px;
    }

    .our-direction-text-img {
        gap: 3px;
    }

    input {
        width: 250px;
        margin-left: 10px;
    }

    .button-send {
        width: 250px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 25px;
    }

    .description {
        font-size: 16px;
    }

    .our-direction {
        padding: 50px 5px;
    }

    .our-direction-text-img {
        gap: 3px;
    }

    input {
        width: 250px;
        margin-left: 10px;
    }

    .button-send {
        width: 250px;
    }

    .text-img {
        font-size: 40px;
    }

    .logo-description-image {
        top: 80px;
    }

    .text-description-image {
        margin-top: 5px;
        top: 220px;
    }

    .short-description {
        top: 365px;
    }

    .image-logo {
        width: 300px;
    }

    .all-text-short {
        font-size: 18px;
    }
}

@media (max-width: 520px) {
    .image-logo {
        width: 250px;
    }

    .text-img {
        font-size: 35px;
    }
}

@media (max-width: 470px) {
    .text-img {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .image-logo {
        width: 250px;
    }

    .text-img {
        font-size: 30px;
        letter-spacing: 0;
    }

    .short-description {
        top: 400px;
    }

    .all-text-short {
        font-size: 15px;
    }
}