@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --font-for-text: "Oswald", serif;
    --color-for-text: #fff;
    --background-color-yellow: #fda70f;
    --color-for-text-gray: #464444;
    --color-for-text-dark: rgb(32, 32, 32);
    --copyright-color: #141414;
    --color-for-input-error: rgb(250, 10, 10);
    --copyright-color-text: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1100px;
    max-width: 1350px;
}

main {
    width: 100%;
    height: 100%;
}

header {
    background: -webkit-linear-gradient(180deg, #404040, #74716d, #141414);
    background: linear-gradient(180deg, #404040, #74716d, #141414);
    padding: 15px 50px;
}

.all-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.link {
    color: var(--color-for-text);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: var(--background-color-yellow);
}

.link-portfolio {
    padding: 0 50px;
}

.icons {
    width: 30px;
    height: 30px;
}

.icons-link {
    text-decoration: none;
}

.all-elements__icons {
    display: flex;
    gap: 10px;
}

.all-elements__number-phone {
    text-align: center;
}

.phone-header {
    color: var(--color-for-text);
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.time-contact {
    color: var(--color-for-text);
    font-size: 13px;
}

/*  /////////////////////    Header    /////////////////////  */

.image {
    background-image: url("./img/teploprofi-pro-main.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.text-description-image {
    margin: 10px 0 50px 0;
}

.description-image {
    padding: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.image-logo {
    width: 350px;
}

.text-img {
    color: var(--background-color-yellow);
    font-family: var(--font-for-text);
    font-size: 50px;
}

.short-description {
    display: flex;
    justify-content: space-between;
}

.div-circle {
    width: 20px;
    height: 20px;
    background-color: var(--background-color-yellow);
    border-radius: 50%;
}

.all-text-short {
    color: var(--color-for-text);
    font-size: 20px;
    font-family: var(--font-for-text);
    letter-spacing: 0.8px;
}

.all-shorts {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* /////////////////////////////// about //////////////////////////// */

.about {
    display: flex;
    padding: 50px;
}

.about-description {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    padding: 33px 45px;
}

.about-h1 {
    color: var(--color-for-text-dark);
}

.abou-ttitle {
    color: var(--color-for-text-gray);
    font-size: 50px;
    font-weight: bold;
}

.description {
    font-size: 18px;
}

/* ////////////////// why teploprofi ///////////////////////*/

.why-teploprofi {
    background-image: url("./img/teploprofi-монтаж-отопления.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.blocks-why-teploprofi {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 100px 50px;
}

.titlte {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: var(--color-for-text);
}

.all-advantages {
    color: var(--color-for-text);
    font-size: 20px;
    width: 300px;
}

.all-titles {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--background-color-yellow);
    font-family: var(--font-for-text);
}

.all-names {
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

/* //////////////////////// our-direction //////////////////////////////////*/

.our-direction {
    padding: 50px;
}

.title-our-direction {
    text-align: center;
    margin-bottom: 50px;
    color: var(--color-for-text-gray);
    font-size: 23px;
}

.our-direction-text-img {
    display: flex;
    gap: 10px;
    text-align: center;
}

.container {
    border: 2px solid var(--color-for-text-gray);
    padding: 3px;
    border-radius: 15px;
    width: 250px;
}

.all-title-direction {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-for-text-dark);
}

.description-project {
    padding: 25px 15px;
}

.all-project-imgs {
    width: 200px;
}

/* //////////////////////////////// portfolio //////////////////////////////*/

.text-on-img {
    text-align: center;
    transition: .5s;
    cursor: pointer;
}

.imgs {
    display: flex;
    align-items: center;
    width: 350px;
    height: 300px;
    border-radius: 15px;
}

.imgs-moscow-city {
    background-image: url("./img/teploprofi.pro-neva7-darken.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.imgs-veshki {
    background-image: url("./img/teploprofi-instalation-veski-for-main-darken.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.imgs-sidney {
    background-image: url("./img/teploprofi-instalation-sidney-main-darken.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.link-text-on-img {
    text-decoration: none;
}

.name-text {
    font-size: 35px;
    color: var(--color-for-text);
    font-weight: bold;
}

.text-image {
    font-size: 30px;
    color: var(--color-for-text);
    font-weight: bold;
    border: 2px solid var(--color-for-text);
    margin: 10px 50px;
    padding: 5px 30px;
    border-radius: 10px;
}

.text-image:hover {
    color: var(--background-color-yellow);
    border: 2px solid var(--background-color-yellow);
}

.title-portfolio {
    margin-bottom: 50px;
}

.our-work {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-for-text-gray);
}

.container {
    padding: 15px 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.all-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
}

.text-on-img:hover {
    transform: scale(1.3);
}

/* ///////////////////// professional-instalation ///////////// */

.professional-instalation {
    padding: 0 50px;
}

.title-professional-instalation {
    margin-bottom: 50px;
}

.text-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-for-text-gray);
}

.ideal-collector {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    color: var(--color-for-text-gray);
}

.images-and-description {
    display: flex;
}

.image-about-us {
    border-radius: 15px;
}

.all-sides-images {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.left-right-divs {
    display: flex;
    margin-bottom: 35px;
}

.underscore {
    border-bottom: 1px solid var(--color-for-text-gray);
}

.left-side,
.right-side {
    padding: 70px 0 40px 0;
}

.text-for-sides {
    padding-left: 10px;
}

.all-imgs {
    display: flex;
    align-items: center;
}

.main-words {
    font-weight: bold;
    font-size: 17px;
}

/* //////////////////////////// questions-answers //////////////////////////// */

.questions-answers {
    padding: 50px;
}

.text-often-questions {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-for-text-gray);
    padding-bottom: 50px;
}

.faq {
    border-bottom: 2px solid var(--background-color-yellow);
    padding: 0 30px 35px 30px;
    cursor: pointer;
}

.questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.questions h3 {
    font-size: 25px;
    color: var(--color-for-text-gray);
    font-family: var(--font-for-text);
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.answer p {
    color: var(--color-for-text-gray);
    padding-top: 25px;
    font-size: 20px;
}

.faq.active .answer {
    max-height: 300px;
}

.span-answer {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: var(--font-for-text);
    color: var(--color-for-text-gray);
    border: 1px solid var(--background-color-yellow);
    background-color: var(--background-color-yellow);
    padding: 0 25px;
    border-radius: 10px;
}

/* //////////////////// your-question /////////////////////////// */

.your-question {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    background-color: var(--color-for-text-gray);
    margin: 50px auto;
    border-radius: 15px;
}

.text-your-question {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--font-for-text);
    color: var(--background-color-yellow);
    padding: 30px;
    text-align: center;
}

.input-question,
.button-question {
    margin-bottom: 25px;
}

.form-question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-your-question {
    border-radius: 15px;
}

/* ///////////////////////// contact-FORM //////////////////////*/

.contact-us {
    padding: 50px;
}

.contact-form {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    font-family: var(--font-for-text);
}

.form-contact-with-us {
    width: 500px;
    height: 600px;
    background-color: var(--color-for-text-gray);
    border-radius: 15px;
    padding: 0 30px;
}

.title-form {
    text-align: center;
    font-size: 35px;
    color: var(--color-for-text-gray);
}

.img-contact-form {
    width: 500px;
    height: 600px;
    border-radius: 15px;
}

.text-contact {
    text-align: center;
    padding: 50px 0;
    font-size: 22px;
    color: var(--color-for-text);
    font-weight: bold;
}

input {
    width: 300px;
    height: 50px;
    padding-left: 8px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

input[type=radio] {
    accent-color: var(--background-color-yellow);
}

.input-phone {
    margin-bottom: 60px;
}

.input-name {
    margin-bottom: 35px;
}

input:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-button {
    text-align: center;
}

.button-send {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 27px;
    color: var(--color-for-text-gray);
    background-color: var(--background-color-yellow);
    cursor: pointer;
    font-family: var(--font-for-text);
}

:focus::placeholder {
    color: transparent;
}

.radio-input {
    margin-bottom: 30px;
}

.all-method {
    width: 18px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}

label {
    font-size: 18px;
    padding: 0 5px;
    vertical-align: middle;
    color: var(--color-for-text);
}

.whatsapp-choice {
    margin: 10px 0;
}

input.error {
    box-shadow: 0 0 15px var(--color-for-input-error);
}

.form-body {
    position: relative;
}

.form-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form-body.sending::after {
    opacity: 1;
    visibility: visible;
}

/* //////////////////////// our contacts ///////////////////////*/

.our-contacts {
    padding: 0 50px;
}

.contacts-title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-for-text-gray);
}

.all-images-contacts {
    text-align: center;
}

.contacts-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.all-icons-contacts {
    width: 75px;
    height: 75px;
}

.all-title-contacts {
    padding: 25px;
    font-size: 21px;
    font-weight: bold;
    color: var(--color-for-text-dark);
}

.all-links-icon {
    text-decoration: none;
    color: var(--color-for-text-dark);

}

.our-social-networks {
    padding: 50px;
}

.all-networks {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.text-networks {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-for-text-gray);
    margin-bottom: 15px;
    text-align: center;
    padding: 25px;
}

.all-icons {
    width: 60px;
    height: 60px;
}

.mail-phone-our-contact {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-for-text-dark);
}

/* //////////////////////// footer ////////////////////////////*/

footer {
    background: -webkit-linear-gradient(360deg, #404040, #74716d, #141414);
    background: linear-gradient(360deg, #404040, #74716d, #141414);
    padding: 20px 50px;
    height: 80px;
}

.logo-and-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-for-footer {
    height: 70px;
}

.contact-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-for-text);
}

.all-contacts {
    font-size: 18px;
    color: var(--color-for-text);
}

.copyright {
    height: 30px;
    background-color: var(--copyright-color);
    color: var(--copyright-color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.mail-footer {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-for-text);
}

.phone-footer {
    color: var(--color-for-text);
    text-decoration: none;
    cursor: pointer;
}


/* ////////////////////////// adaptiv ////////////////////////////////// */
@media (max-width: 1050px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    .all-project-imgs {
        width: 175px;
    }

    .image-logo {
        width: 320px;
    }

    .text-img {
        font-size: 45px;
    }

    .imgs {
        width: 320px;
    }

    .about {
        align-items: center;
        padding: 50px;
    }

    .description {
        font-size: 15px;
    }

    .left-side,
    .right-side {
        padding: 0;
    }

    .description-project-water {
        padding: 17px 15px;
    }

    .description-project-plumbing {
        padding: 15px 15px;
    }

    .about-description {
        gap: 10px;
        padding: 15px;
    }
}

@media (max-width: 992px) {

    h1 {
        font-size: 25px;
    }

    .description {
        font-size: 16px;
    }

    .our-direction {
        padding: 50px 5px;
    }

    .our-direction-text-img {
        gap: 3px;
    }

    .input-phone {
        margin-bottom: 50px;
    }

    .button-send {
        width: 250px;
    }

    .text-img {
        font-size: 40px;
    }

    .list {
        margin-top: 5px;
    }

    .logo-description-image {
        top: 80px;
    }

    .text-description-image {
        margin-top: 5px;
        top: 220px;
    }

    .short-description {
        top: 365px;
    }

    .image-logo {
        width: 300px;
    }

    .all-text-short {
        font-size: 18px;
    }

    .questions h3,
    .span-answer {
        font-size: 23px;
    }

    .description-project-water {
        padding: 17px 15px;
    }
}

@media (max-width: 853px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    .all-project-imgs {
        width: 85%;
    }

    .our-direction,
    .about {
        padding: 50px 2px;
    }

    .list {
        margin-top: 60px;
    }

    .blocks-why-teploprofi {
        padding: 80px 10px;
    }

    .about-h1,
    .description {
        font-size: 13px;
    }

    .all-advantages {
        font-size: 15px;
        width: 250px;
    }

    .all-names {
        gap: 25px;
    }

    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .imgs {
        width: 550px;
        height: 500px;
    }

    .questions-answers {
        padding: 0 50px 50px;
    }

    .text-on-img {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        align-items: center;
        transition: .5s;
        cursor: pointer;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .text-contact {
        font-size: 28px;
    }

    .images-and-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-for-sides {
        font-size: 25px;
    }

    .main-words {
        font-size: 25px;
    }

    .right-side {
        padding: 40px 0;
    }

    .your-question {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }

    .image-your-question {
        width: 100%;
    }

    .text-your-question {
        font-size: 35px;
    }

    .form-question {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-project-water {
        padding: 20px 15px;
    }

    .description-project-plumbing {
        padding: 7px 15px;
    }

    .description-water {
        padding: 35px 15px;
    }

    .img-contact-form {
        width: 550px;
        height: 650px;
    }
}

@media (max-width: 540px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    header {
        padding: 5px;
    }

    .image-logo {
        width: 30%;
    }

    .description-image {
        padding: 15px;
    }

    .text-img {
        font-size: 25px;
        letter-spacing: 0;
    }

    .div-circle {
        width: 10px;
        height: 10px;
    }

    .text-description-image {
        margin-bottom: 25px;
    }

    .all-text-short {
        font-size: 13px;
    }

    .logo {
        height: 30px;
    }

    .link {
        font-size: 10px;
    }

    .link-portfolio {
        padding: 0;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    .phone-header {
        font-size: 12px;
    }

    .time-contact {
        font-size: 10px;
    }

    nav {
        display: flex;
        gap: 15px;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .blocks-why-teploprofi {
        padding: 25px;
        gap: 25px;
    }

    .titlte {
        font-size: 20px;
    }

    .all-titles {
        font-size: 30px;
    }

    .all-names {
        gap: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .all-advantages {
        font-size: 19px;
    }

    .our-direction {
        padding: 50px 5px;
    }

    .title-our-direction {
        font-size: 25px;
    }

    .our-direction-text-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 300px;
        margin-bottom: 5px;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }

    .contact-us {
        padding: 20px 0;
    }

    .title-form {
        font-size: 25px;
        padding: 0 5px;
    }

    .contact-form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .img-contact-form {
        width: 100%;
    }

    .form-contact-with-us {
        width: 100%;
        padding: 0;
    }

    .radio-input {
        padding-left: 25px;
    }

    input {
        margin-left: 25px;
    }

    .text-title {
        font-size: 30px;
    }

    .title-professional-instalation {
        margin-bottom: 30px;
    }

    .images-and-description {
        display: flex;
        flex-direction: column;
    }

    .professional-instalation {
        padding: 0;
    }

    .questions-answers {
        padding: 0;
    }

    .text-often-questions {
        padding-bottom: 30px;
        font-size: 32px;
    }

    .your-question {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }

    .image-your-question {
        border-radius: 15px;
        width: 100%;
    }

    .contacts-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .contacts-icons {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .all-title-contacts {
        font-size: 25px;
    }

    .text-networks {
        padding: 40px 0 15px 0;
    }

    .all-networks {
        gap: 5px;
        margin-bottom: 20px;
    }

    .our-social-networks {
        padding: 0;
    }

    footer {
        padding: 8px 0;
    }

    .logo-for-footer {
        height: 60px;
    }

    .all-contacts {
        font-size: 15px;
    }

    .questions h3,
    .span-answer {
        font-size: 18px;
    }

    .right-side {
        padding: 50px 0;
    }

    .left-side {
        padding: 30px 0;
    }

    .ideal-collector {
        padding: 20px 6px 0;
    }

    .image-about-us {
        width: 100%;
    }

    .text-contact {
        font-size: 28px;
        padding: 35px 0;
    }

    label {
        font-size: 21px;
    }

    .all-title-direction {
        font-size: 25px;
    }

    .description-project {
        font-size: 20px;
    }

    .text-for-sides {
        font-size: 18px;
    }

    .input-question {
        width: 290px;
        margin-left: 2px;
    }
}

@media (max-width: 470px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    header {
        padding: 5px;
    }

    .image-logo {
        width: 40%;
    }

    .description-image {
        padding: 15px;
    }

    .text-img {
        font-size: 20px;
    }

    .div-circle {
        width: 10px;
        height: 10px;
    }

    .text-description-image {
        margin-bottom: 25px;
    }

    .all-text-short {
        font-size: 45%;
    }

    .logo {
        height: 30px;
    }

    .link {
        font-size: 10px;
    }

    .link-portfolio {
        padding: 0;
    }

    .all-elements__icons {
        gap: 2px;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    .phone-header {
        font-size: 12px;
    }

    .time-contact {
        font-size: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .abou-ttitle {
        font-size: 40px;
    }

    .about-h1 {
        font-size: 15px;
    }

    .blocks-why-teploprofi {
        padding: 25px;
        gap: 25px;
    }

    .titlte {
        font-size: 20px;
    }

    .all-titles {
        font-size: 30px;
    }

    .all-names {
        gap: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .all-advantages {
        font-size: 19px;
    }

    .our-direction {
        padding: 10px 5px;
    }

    .title-our-direction {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .our-direction-text-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 300px;
        margin-bottom: 5px;
    }

    .our-work {
        font-size: 30px;
    }

    .title-portfolio {
        margin-bottom: 30px;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }

    .contact-us {
        padding: 20px 0;
    }

    .title-form {
        font-size: 25px;
    }

    .contact-form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .img-contact-form {
        width: 100%;
        height: 500px;
    }

    .form-contact-with-us {
        width: 100%;
        padding: 0;
    }

    .radio-input {
        padding-left: 25px;
    }

    input {
        margin-left: 25px;
    }

    .text-title {
        font-size: 30px;
    }

    .title-professional-instalation {
        margin-bottom: 30px;
    }

    .images-and-description {
        display: flex;
        flex-direction: column;
    }

    .professional-instalation {
        padding: 0;
    }

    .questions-answers {
        padding: 0;
    }

    .text-often-questions {
        padding-bottom: 30px;
        font-size: 32px;
    }

    .your-question {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }

    .image-your-question {
        border-radius: 15px;
        width: 100%;
    }

    .contacts-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .contacts-icons {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .all-title-contacts {
        font-size: 25px;
    }

    .text-networks {
        padding: 40px 0 15px 0;
    }

    .all-networks {
        gap: 5px;
        margin-bottom: 20px;
    }

    .our-social-networks {
        padding: 0;
    }

    footer {
        padding: 8px 0;
    }

    .logo-for-footer {
        height: 60px;
    }

    .all-contacts {
        font-size: 15px;
    }

    .questions h3,
    .span-answer {
        font-size: 18px;
    }

    .right-side {
        padding: 40px 0;
    }

    .image-about-us {
        width: 100%;
    }

    .input-question {
        width: 290px;
        margin-left: 2px;
    }
}

@media (max-width: 375px) {
    body {
        min-width: 30%;
        max-width: 100%;
    }

    header {
        padding: 5px;
    }

    .image-logo {
        width: 40%;
    }

    .description-image {
        padding: 15px;
    }

    .text-img {
        font-size: 20px
    }

    .div-circle {
        width: 10px;
        height: 10px;
    }

    .text-description-image {
        margin-bottom: 25px;
    }

    .all-text-short {
        font-size: 45%;
    }

    .logo {
        height: 30px;
    }

    .link {
        font-size: 10px;
    }

    .link-portfolio {
        padding: 0;
    }

    .all-elements__icons {
        gap: 2px;
    }

    .icons {
        width: 25px;
        height: 25px;
    }

    .phone-header {
        font-size: 12px;
    }

    .time-contact {
        font-size: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .abou-ttitle {
        font-size: 35px;
    }

    .about-h1 {
        font-size: 13px;
    }

    .blocks-why-teploprofi {
        padding: 25px;
        gap: 25px;
    }

    .titlte {
        font-size: 20px;
    }

    .all-titles {
        font-size: 30px;
    }

    .all-names {
        gap: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .all-advantages {
        font-size: 19px;
    }

    .our-direction {
        padding: 10px 5px;
    }

    .title-our-direction {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .our-direction-text-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 300px;
        margin-bottom: 5px;
    }

    .our-work {
        font-size: 30px;
    }

    .title-portfolio {
        margin-bottom: 30px;
    }

    .img-container {
        display: flex;
        flex-direction: column;
    }

    .contact-us {
        padding: 20px 0;
    }

    .title-form {
        font-size: 25px;
    }

    .contact-form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .img-contact-form {
        width: 375px;
        height: 500px;
    }

    .form-contact-with-us {
        width: 100%;
        padding: 0;
    }

    .radio-input {
        padding-left: 25px;
    }

    input {
        margin-left: 25px;
    }

    .text-title {
        font-size: 30px;
    }

    .title-professional-instalation {
        margin-bottom: 30px;
    }

    .images-and-description {
        display: flex;
        flex-direction: column;
    }

    .professional-instalation {
        padding: 0;
    }

    .questions-answers {
        padding: 0;
    }

    .text-often-questions {
        padding-bottom: 30px;
        font-size: 32px;
    }

    .your-question {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }

    .image-your-question {
        border-radius: 15px;
        width: 100%;
    }

    .contacts-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .contacts-icons {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .all-title-contacts {
        font-size: 25px;
    }

    .text-networks {
        padding: 40px 0 15px 0;
    }

    .all-networks {
        gap: 5px;
        margin-bottom: 20px;
    }

    .our-social-networks {
        padding: 0;
    }

    footer {
        padding: 8px 0;
    }

    .logo-for-footer {
        height: 60px;
    }

    .all-contacts {
        font-size: 15px;
    }

    .questions h3,
    .span-answer {
        font-size: 18px;
    }

    .right-side {
        padding: 40px 0;
    }

    .input-question {
        width: 290px;
        margin-left: 2px;
    }
}